html, body {
    font-family:'Roboto', sans-serif;
    color: #404040;
    background-color: #eee;
}
.container {
    width: 520px;
    margin-top: 20px;
}
.button-group {
    margin-bottom: 20px;
}
.counter {
    display: inline;
    margin: 0 10px 0 0;
}
.posts {
    clear: both;
    list-style: none;
    padding-left: 0;
    width: 100%;
}
.posts li {
    background-color: #fff;
    border: 1px solid #d8d8d8;
    padding: 10px 20px 10px 20px;
    margin-bottom: 10px;
    word-wrap: break-word;
    min-height: 42px;
}